/*** You can add your theme here by adding the following:
.className {
  --primary:
  --secondary:
  --accent:
  --link:
  --text:
}

If you do, don't forget to also add your theme to 
the ThemePicker.vue file so it becomes available as an option! 

Pull Requests will require passing at least WCAG AA requirements to be accepted
***/

.roseGold {
  --primary: #75444C;
  --secondary: #eabfb9;
  --accent: #EB9C9C;
  --link: #501E1E;
  --text: #000;
}

.default-light {
  --primary: #351c4d;
  --secondary: #fff;
  --accent: #f5ab99;
  --link: #674672;
  --text: #351c4d;
}

.default-dark {
  --primary: #80c69f;
  --secondary: #282b2b;
  --accent: #66897f;
  --link: #82e79a;
  --text: white;
}
