/*** You can add your theme here by adding the following:
.className {
  --primary:
  --secondary:
  --accent:
  --link:
  --text:
}

If you do, don't forget to also add your theme to
the ThemePicker.vue file so it becomes available as an option!

Pull Requests will require passing at least WCAG AA requirements to be accepted
***/
.sea-blue {
  --primary: #14c7d1;
  --secondary: #0d3c44;
  --accent: #040404;
  --link: #fff;
  --text: #d7d9ce;
}

.default-light-2 {
  --primary: #fff365;
  --secondary: #09f900;
  --accent: #040404;
  --link: #fff;
  --text: #d7d9ce;
}

.selesnya {
  --primary: #013a0d;
  --secondary: #f1f1f1;
  --accent: #78c232;
  --link: #9b2400;
  --text: #012509;
}

.ninja-theme {
  --primary: #fd423a;
  --secondary: #212121;
  --accent: #424242;
  --link: #ffd721;
  --text: #f3f3f3;
}

.capuccino {
  --primary: #3f3835;
  --secondary: #d4c4ba;
  --accent: #3d2b21;
  --link: #3d3733;
  --text: #3b351e;
}

.gameboy {
  --primary: #35343c;
  --secondary: #c3bcc4;
  --accent: #160f31;
  --link: #831c49;
  --text: #140e30;
}

.light-dark {
  --primary: #66d9ef;
  --secondary: #272822;
  --accent: #7fd9eb;
  --link: #66d9ef;
  --text: #ffff;
}

.morning-blue {
  --primary: #092661;
  --secondary: #e6e7ec;
  --accent: #468aca;
  --link: #101011;
  --text: #092661;
}

.forest-theme {
  --primary: #072b06;
  --secondary: #ebe2e2;
  --accent: #5a9455;
  --link: #474646;
  --text: #070f0a;
}

.fish-finger {
  --primary: #ffe66d;
  --secondary: #19525b;
  --accent: #ff6b6b;
  --link: #4ecdc4;
  --text: #f7fff7;
}

.roseGold {
  --primary: #75444c;
  --secondary: #eabfb9;
  --accent: #eb9c9c;
  --link: #501e1e;
  --text: #000;
}

.default-light {
  --primary: #351c4d;
  --secondary: #fff;
  --accent: #f5ab99;
  --link: #674672;
  --text: #351c4d;
}

.default-dark {
  --primary: #80c69f;
  --secondary: #282b2b;
  --accent: #66897f;
  --link: #82e79a;
  --text: white;
}

.arduino-theme {
  --primary: #0e5d46;
  --secondary: white;
  --accent: #f0651f;
  --link: #177d2f;
  --text: black;
}

.bubblegum {
  --primary: #b2215a;
  --secondary: #ffe7f0;
  --accent: #db286e;
  --link: #56122d;
  --text: black;
}

.dracula {
  --primary: #bd93f9;
  --secondary: #282a36;
  --accent: #50fa7b;
  --link: #8be9fd;
  --text: #f8f8f2;
}

.purple-haze {
  --primary: #2c2f56;
  --secondary: #d5d4e2;
  --accent: #3e2c56;
  --link: #2c2f56;
  --text: #2c2f56;
}

.coder {
  --primary: #39ff14;
  --secondary: #000000;
  --accent: #1f1e1e;
  --link: rgb(170, 224, 45);
  --text: #39ff14;
}

.planet-express {
  --primary: #0d7158;
  --secondary: #e2e8e7;
  --accent: #ca3e3e;
  --link: #0a5949;
  --text: #202524;
}

.soft-haze {
  --primary: #523489;
  --secondary: #f0f2f9;
  --accent: #d5d7e6;
  --link: #2700b0;
  --text: #301e52;
}

.dark-blue {
  --primary: #0f2b2e;
  --secondary: #c1dff0;
  --accent: #2d898b;
  --link: #4d2d25;
  --text: #252425;
}

.blue-theme {
  --primary: #051b33;
  --secondary: #80bdff;
  --accent: #143c66;
  --link: #051b33;
  --text: #051b33;
}

.primarily-pink {
  --primary: #6a4159;
  --secondary: #feb4d1;
  --accent: #883677;
  --link: #1c1b20;
  --text: #1c1b20;
}

.simple-blue {
  --primary: #23374d;
  --secondary: #e5e5e5;
  --accent: #1089ff;
  --link: #089ff;
  --text: rgb(20, 19, 19);
}

.panda-theme {
  --primary: #232528;
  --secondary: #eaf6ff;
  --accent: #054a91;
  --link: #003a59;
  --text: #222e50;
}

.a-purple-theme {
  --primary: #a11ec6;
  --secondary: #ffffff;
  --accent: #6d2397;
  --link: #421a8b;
  --text: #152347;
}

.red-theme {
  --primary: #9a1818;
  --secondary: #ffebee;
  --accent: #d50000;
  --link: #a30000;
  --text: #9a1818;
}

.classic-retro {
  --primary: #a7414a;
  --secondary: #eee;
  --accent: #563838;
  --link: #755819;
  --text: #282726;
}

.vintage-warm {
  --primary: #603a42;
  --secondary: #e0e0e0;
  --accent: #d96648;
  --link: #603a42;
  --text: #39202c;
}

.material-green {
  --primary: #00e676;
  --secondary: #212121;
  --accent: #424242;
  --link: #00e676;
  --text: #fff;
}

.october-orange {
  --primary: #996100;
  --secondary: #ffffff;
  --accent: #292929;
  --link: #795548;
  --text: #000000;
}

.black-yellow {
  --primary: #ffee00;
  --secondary: #000000;
  --accent: #ff0000;
  --link: #ff7b00;
  --text: #ffee00;
}

.skyblue-theme {
  --primary: #75eaf5;
  --secondary: #212f3d;
  --accent: #2e86c1;
  --link: #24fff7;
  --text: #aed6f1;
}

.maybe-brown {
  --primary: #1d1111;
  --secondary: #fff;
  --accent: #6b4343;
  --link: #6b4343;
  --text: #1d1111;
}

.sunset-blue {
  --primary: #ff5e5b;
  --secondary: #001021;
  --accent: #373f51;
  --link: #1b98e0;
  --text: #fcfcfc;
}

.violet-theme {
  --primary: #8b008b;
  --secondary: #e6e6fa;
  --accent: #dda0dd;
  --link: #9400d3;
  --text: black;
}

.starling-purple {
  --primary: #7d5ba6;
  --secondary: #ffffff;
  --accent: #625834;
  --link: #294c60;
  --text: #30362f;
}

.nord {
  --primary: #ebcb8b;
  --secondary: #4c566a;
  --accent: #81a1c1;
  --link: #eceff4;
  --text: #d8dee9;
}

.soft-theme {
  --primary: #523489;
  --secondary: #f0f2f9;
  --accent: #d5d7e6;
  --link: #2700b0;
  --text: #301e52;
}

.brazil {
  --primary: #002561;
  --secondary: #12d221;
  --accent: rgb(240, 236, 0);
  --link: #01020a;
  --text: #002561;
}

.pcc-theme {
  --primary: #6f15ed;
  --secondary: #f1e9fd;
  --accent: #caa9f8;
  --link: #464646;
  --text: #333333;
}

.pink-black {
  --primary: #ffc0cb;
  --secondary: #000000cc;
  --accent: #ffc0cb;
  --link: #ffc0cb;
  --text: #ffc0cb;
}

.minty-theme {
  --primary: #78c2ad;
  --secondary: #000000;
  --accent: #78c2ad;
  --link: #f3969a;
  --text: #78c2ad;
}
.fatec-theme {
  --primary: #942019;
  --secondary: #f3f3f3;
  --accent: #fefefe;
  --link: #1472b0;
  --text: #424242;
}

.green {
  --secondary: #ffffff;
  --accent: #186329;
  --primary: #186329;
  --link: #032e0d;
  --text: #186329;
}

.ayu-theme {
  --primary: #e6b450;
  --secondary: #0a0e14;
  --accent: #424242;
  --link: #e6b450;
  --text: #fff;
}

.discord-theme {
  --primary: #859cef;
  --secondary: #2c2f33;
  --accent: #7289da;
  --link: #99aab5;
  --text: #ffffff;
}

.vlad4him-theme {
  --primary: #000000cc;
  --secondary: #12d221;
  --accent: #fefefe;
  --link: #2700b0;
  --text: #424242;
}

.black-olive-theme {
  --primary: #3a3937;
  --secondary: #fff;
  --accent: #3a3937;
  --link: black;
  --text: black;
}

.hacker-theme {
  --primary: #e8c547;
  --secondary: #262626;
  --accent: #4d5061;
  --link: #42dcff;
  --text: #ddf45b;
}

.red-brown {
  --primary: #f64740;
  --secondary: #281716;
  --accent: #a3333d;
  --link: #f64740;
  --text: #d6d6d6;
}

.white-darkblack {
  --primary: rgb(3, 3, 3);
  --secondary: white;
  --accent: rgb(104, 9, 61);
  --link: rgb(17, 17, 1);
  --text: rgb(1, 10, 19);
}

.nature-theme {
  --primary: #031f10;
  --secondary: rgb(189, 168, 173);
  --accent: #554b49;
  --link: #17221d;
  --text: #170724;
}

.mint-forest {
  --primary: #5cdb95;
  --secondary: #05386b;
  --accent: #379683;
  --link: #8ee4af;
  --text: #edf5e1;
}

.ice-cream {
  --primary: #df42d1;
  --secondary: #0c093c;
  --accent: #eea5f6;
  --link: #df42d1;
  --text: #fad6d6;
}

.golden-ocean {
  --primary: #fabb25;
  --secondary: #052db0;
  --accent: #ba6504;
  --link: #fad784;
  --text: #edeceb;
}

.wine-lover {
  --primary: #460046;
  --secondary: #fcfcfc;
  --accent: #a84b8e;
  --link: #340026;
  --text: #460046;
}

.spotify-theme {
  --primary: #1bd760;
  --secondary: #181818;
  --accent: #b3b3b3;
  --link: #ffffff;
  --text: #b3b3b3;
}

.deep-purple {
  --primary: #efb6ff;
  --secondary: #3700b3;
  --accent: #6200ee;
  --link: #efff51;
  --text: #ffe6c9;
}

.halloween {
  --primary: #870299;
  --secondary: #84fc4c;
  --accent: #a407de;
  --link: #284f02;
  --text: #000000;
}

.cowry-wise-vibes {
  --primary: #0066f5;
  --secondary: #f4f8fc;
  --accent: #022b69;
  --link: #0066f5;
  --text: #022b69;
}
